@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&family=League+Spartan:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    background: #f8f9fa;
    color: #312f2f;
}
.header {
    position:fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #8a8a8a;
    text-decoration:none;
    font-weight: 600;
}

.navbar a {
    font-size: 20px;
    color: #2c2c2c;
    text-decoration: none;
    font-weight: 500;
}
.navbar {
  display: flex;
  gap: 20px;
  margin-left: 35px;
}
.navbar a:hover,
.navbar a.active {
    color:#00abF0;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abF0;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p{
    font-size: 16px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height:100%;
    background: #00abF0;
    border: 2px solid #00abF0;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abF0;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color:#0a749e;
}
.btn-box a:nth-child(2):hover {
    color: #022736;
}


.btn-box a:nth-child(2)::before{
    background: #00abF0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #144b73be;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
    

}
.services {
    text-align: center;
    padding: 50px 20px;
    height: 100vh;
}
.services h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: #464242;
}

.service-continer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.service-card{
    background: #fff;
    width: 250px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-card i{
    font-size: 3rem;
    color: #ff5722;
    margin-bottom: 15px;
}
.service-card h3{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}
.service-card p{
    font-size: 1rem;
    color: #666;
}
.service-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(247,244 , 244, 0.928);
}
/* responsive */
@media (max-width: 786px) {
    .service-continer {
        flex-direction: column;
        align-items: center;

    }
}
.courses{
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.morinfo h3{
    font-size: 2rem;
    margin-bottom: 30px;
    color: #464242;
    text-align: center;
}
.morinfo p{
    text-align: center;
    font-size: 18px;
}
.card-container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.card2{
    width: 325px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: 0.6s ease;
}
.card2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content2{
    padding: 20px;
}
.card-content2 h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.card-content2 p{
    font-size: 15px;
    margin-bottom: 20px;
}
.card--btn{
    display: inline-block;
    background-color: #01719ed2;
    color: #f8f9fa;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
.card2:hover{
    transform: translateY(-20px);
}
/* cards 3 */
.workshops{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.morinfo3 h3{
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #464242;
    text-align: center;
}
.morinfo3 p{
    text-align: center;
    font-size: 18px;
}
.card-container3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.card3{
    width: 325px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: 0.6s ease;
}
.card3 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content3{
    padding: 20px;
}
.card-content3 h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.card-content3 p{
    font-size: 15px;
    margin-bottom: 20px;
}
.card--btn{
    display: inline-block;
    background-color: #01719ed2;
    color: #f8f9fa;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
.card3:hover{
    transform: translateY(-20px);
}
/* Hackathons cards */
.hackathons{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.morinfo4 h3{
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #464242;
    text-align: center;
}
.morinfo4 p{
    text-align: center;
    font-size: 18px;
}
.hackclub{
    text-decoration: none;
    font-size: 20px;
    font-weight: 750;
    color: #00abF0;
}
.card-container4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 100px;
}
.card4{
    width: 325px;
    background-color: #04334efd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: 0.6s ease;
}
.card4 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content4{
    padding: 20px;
}
.card-content4 h1{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(0, 149, 255);
}
.card-content4 p{
    font-size: 15px;
    margin-bottom: 20px;
    color: wheat;
}
.card--btn{
    display: inline-block;
    background-color: #01719ed2;
    color: #f8f9fa;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
}
.card4:hover{
    transform: translateY(-20px);
}
/* Competitions cards style */
.competitions{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#EFEFFF, #CCCBFF);
}
.wrapper{
    max-width: 1100px;
    padding: 20px 10px;
    margin: 0 60px 35px;
    overflow: hidden;
}
.wrapper .card{
    height: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}
.wrapper .card:hover {
    transform: translateY(-10px);
}
.card .card-image {
    position: relative;
}
.card .card-image img {
    width: 100%;
    padding: 10px;
    border-radius: 22px;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.card .card-image .card-tag {
    position: absolute;
    left: 25px;
    top: 25px;
    color: #6366f1;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.9);
}
.card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 25px;
}
.card .card-content .card-title {
    color: #111111;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}
.card .card-content .card-text {
    color: #747474;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 20px;
}
.card .card-content .card-footer {
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: auto;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.08);
}
.card .card-footer .card-profile {
    display: flex;
    align-items: center;
}

.card .card-profile img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card .card-profile .card-profile-info {
    display: flex;
    flex-direction: column;
}
.card .card-profile .card-profile-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: #202020;
}
.card .card-profile .card-profile-role {
    font-size: 0.8rem;
    color: #7a7a7a;
}
.card .card-footer .card-button {
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.81rem;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(135deg, #6366f1 0%, #8b5cf6);
    box-shadow: 0 5px 15px rgba(99, 102, 241, 0.2);
    transition: all 0.3s ease;
}
.card .card-footer .card-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(99, 102, 241, 0.3);
}

.wrapper .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: #B1B3F8;
}
.wrapper .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #6366f1;
    transform: scaleX(0);
    transform-origin: left center;
    animation: autoplay-loading 5s linear forwards;
}

.container:hover .wrapper .swiper-pagination-bullet-active::before{
    animation-play-state: paused;
}

@keyframes autoplay-loading {
    100% {
        transform: scaleX(1);
    }
}
.wrapper :where(.swiper-button-prev, .swiper-button-next) {
    color: #6366f1;
    margin-top: -35px;
    transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
    color: #8b5cf6;
}

/* responsive media for mobile */
@media (max-width: 768px) {
    .wrapper {
        margin: 0 10px 25px;
    }

    .wrapper :where(.swiper-button-prev, .swiper-button-next) {
        display: none;
    }
}